@import '@/assets/scss/common.scss';
.book{
    width: 660px;
    margin: 0 auto;
    padding: 20px 0;
    .list{
        float: left;
        margin-right: 20px;
        margin-bottom: 20px;
    }
}