@import '@/assets/scss/common.scss';
.book-item{
    width: 200px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0,0,0,.1);
    @include base-background();
    position: relative;
    &__type{
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 12px;
        padding: 4px 8px;
        @include base-color();
        @include base-background();
    }
    &__img{
        width: 100%;
        height: 250px;
        overflow: hidden;
        padding: 12px;
        img{
            width: 100%;
        }
    }
    &__name{
        padding: 15px 12px 0px 12px;
        font-size: 14px;
        @include base-color();
    }
    &__author{
        padding: 10px 12px 15px 12px;
        @include sub-color();
        font-size: 12px;
    }
}