
//黑暗主题
$dark-theme : (
    // 背景色
    base-bg-color: #212121,
    sub-bg-color: #343434,
    // 字体颜色
    base-font-color: #ffffff,
    sub-font-color: #888999,
    sub-font-color-hover: #aaaaaa,
    // 搜索框背景颜色
    search-bg-color: #434343,
    search-bg-color-focus: #212121,
);