
// 默认主题
$default-theme : (
    // 背景色
    base-bg-color: #fff,
    sub-bg-color: #f5f5f5,
    // 字体颜色
    base-font-color: #343434,
    sub-font-color: #d5d5d5,
    sub-font-color-hover: #a5a5a5,
    // 搜索框背景颜色
    search-bg-color: #eee,
    search-bg-color-focus: #e5e5e5,
);