@import '@/assets/scss/common.scss';
.warpper{
    @include position();
    @include sub-background();
    &__header{
        z-index: 100;
        height: $header-height;
        box-shadow: 0 0 20px rgba(30, 30, 30, 0.2);
        @include position(absolute, 0, 0, 0, auto);
        @include base-background();
    }
    &__main{
        z-index: 1;
        @include position(absolute, 0, $header-height, 0, 0);
        &__side{
            width: $sideBar-width;
            box-shadow: 0 0 20px rgba(30, 30, 30, 0.2);
            @include base-background();
            @include position(absolute, 0, 0, auto, 0);
        }
        &__content{
            overflow-x: hidden;
            overflow-y: auto;
            @include position(absolute, $sideBar-width, 0, 0, 0);
        }
    }
}

.side-bar{
    .list{
        width: $sideBar-width;
        height: $sideBar-width;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        cursor: pointer;
        transition: all 0.3s;
        @include sub-color();
        &:hover{
            @include sub-color-hover();
        }
        &.active{
            @include base-color();
        }
        &::after{
            content: '';
            height: 1px;
            @include sub-background();
            @include position(absolute, 20px, auto, 20px, 0);
        }
        &:last-child{
            &::after{
                height: 0;
            }
        }
        .item{
            text-align: center;
            &-icon{
                i{
                    font-size: 24px;
                }
            }
            &-name{
                font-size: 12px;
                margin-top: 8px;
            }
        }
    }
}