@import '@/assets/scss/common.scss';
.search{
    width: 640px;
    margin: 0 auto;
    padding: 30px;
    &-box{
        input{
            width: 100%;
            line-height: 40px;
            height: 40px;
            padding: 0 25px;
            border-radius: 20px;
            transition: all 0.3s;
            @include search-background();
            &:focus{
                @include search-background-focus();
            }
        }
    }
}